p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: justify;
}

.success {
  color: #2ecc72;
  background-color: darken(#2ecc72, 25%);
}
.warning {
  color: #f1c40f;
  background-color: darken(#f1c40f, 25%);
}
.error {
  color: #e74c3c;
  background-color: darken(#e74c3c, 25%);
}
.normal {
  color: #333333;
  background-color: lighten(#333333, 50%);
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
