@mixin table-styles {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }
}

table {
  @include table-styles;
}
